.DS_Store
__pycache__/
*.pyc
*.pyo
*.log
write_tool_chrome_profile/
article.txt
config.json
/gui/__pycache__
/gui/__pycache__
/gui/__pycache__
*.pyc
/gui/__pycache__
gui/__pycache__/gui_main.cpython-310.pyc
/write_tool_chrome_profile_497d0b20
/gui/__pycache__
gui/__pycache__/gui_main.cpython-310.pyc
gui/__pycache__/elements.cpython-310.pyc
